<form method="post" action="{{ path('app_participant_delete', {'id': participant.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ce profil ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participant.id) }}">
    <div class="d-flex justify-content-center">
        <button class="btn btn-danger">Supprimer</button>
    </div>

</form>
