{% extends 'base.html.twig' %}

{% block title %}Modifier le campus{% endblock %}

{% block body %}
<div class="container-md col-8 p-3 card shadow">
    <h1>Modifier le campus</h1>

    {{ include('campus/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_campus_index') }}">Retour à la liste des campus</a>

    {{ include('campus/_delete_form.html.twig') }}
</div>
{% endblock %}
