{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<div class="container-sm p-2 card shadow mt-4">
    <div class="d-flex justify-content-center">
        <h1>Changer le mot de passe</h1>
    </div>
    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
               Entrez votre email, un mail de confirmation de
                reinitialisation de mot de passe vous sera envoyé
            </small>
        </div>
    <div class="d-flex justify-content-center mt-2">
        <button class="btn btn-primary">Reinitialiser mot de passe</button>
    </div>
    {{ form_end(requestForm) }}
</div>
{% endblock %}
