{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Sortir.com{% endblock %}

{% block body %}
<div class="container-md d-flex justify-content-center mt-5">
    <h1>Bienvenue sur Sortir.com ! ✅</h1>
</div>
<div class="container-md shadow rounded p-2 mt-5">
    TODO : Filtre des sorties

    {% include 'sortie/_tableau_sorties.html.twig' %}
</div>
{% endblock %}
