{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Sortir.com{% endblock %}

{% block body %}
<div class="container-md">
    <h1>Bienvenue sur Sortir.com ! ✅</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, architecto ea eum fugit in ipsam labore, quibusdam quo quod rerum sit tempora. Deserunt dolorem, maiores minima molestias omnis qui tempore.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, alias itaque molestias necessitatibus neque obcaecati omnis pariatur voluptas. Ad eius, exercitationem maxime nemo neque perspiciatis quis repellendus sed voluptas voluptatum?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto at beatae distinctio, expedita id laborum nam nihil odio quam quidem quos sit. Aut cumque exercitationem recusandae sapiente ut veritatis.</p>
</div>
{% endblock %}
