{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Sortir.com{% endblock %}

{% block body %}
<div class="container-md">
    <h1>Bienvenue sur Sortir.com ! ✅</h1>

    TODO : Filtre des sorties

    {% include 'sortie/_tableau_sorties.html.twig' %}
</div>
{% endblock %}
