{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
<div class="container-md col-8 p-3 card shadow">
    <h1>Liste des sorties</h1>
    {% include 'sortie/_tableau_sorties.html.twig' %}
</div>
{% endblock %}
