<header class="container-md container-fluid p-1">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('sortir_main') }}">Sortir.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Villes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Campus</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('sortir_main') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mon Profil</a>
            </li>
            {% if app.user %}
                <div class="mb-3 mt-2">
                    Connecté avec {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" class="text-black text-decoration-none">Déconnexion</a>
                </div>
            {% endif %}
            <li class="nav-item"></li>
        </ul>
    </div>
</nav>

</header>

