{% extends 'base.html.twig' %}

{% block title %}Erreur 404 - La page n'existe pas{% endblock %}

{% block body %}
    <div class="container-md col-8 p-3 card shadow">
        <h1>Erreur 404 - La page n'existe pas</h1>
        <p><a href="{{ path('sortir_main') }}">Retour à l'accueil</a></p>
    </div>
{% endblock %}
